
#navigationBar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    transition: top 0.5s;
    background-color: white;
    justify-content: center;
}

body {
    width: 100%;
}

.navDiv {
    display: flex;
    height: 65px;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
}


/*#region Element Web*/

.Logo {
    width: 100px;
    min-width: 100px;
    height: 40px;
    background-image: url("${pageContext.request.contextPath}/public/ImgLogo/logo2.PNG");
    background-size: cover;
    text-decoration: none;
}

.frmSearch {
    /*Form Search*/
    width: 45%;
    border: 1px solid gray;
    border-radius: 50px;
    size: auto;
    background-color: white;
}

.txtSearch {
    /*Input Search Text*/
    width: 80%;
    height: 40px;
    border: 0px;
    border-radius: 50px;
    margin-left: 5px;
}

.txtSearch:focus {
    width: 84%;
    border: none;
    box-shadow: none;
    outline: none;
}

.btnSearch {
    /*Button Search*/
    background-color: white;
    border: 0px;
    margin-left: 10px;
}

.btnSearch:focus {
    background-color: #ffffff;
    outline: none;
}

.btnSearch:active {
    outline: none;
}

.btnSearch:visited {
    outline: none;
}

.btnLogin {
    /*Button Log in and Sign up*/
    padding: 5px;
    background-color: white;
    color: #809fff;
    width: 100px;
    height: 40px;
    border: 1px solid #809fff;
    font-weight: bold;
    font-size: small;
    border-radius: 5px;
}

.btnLogin:hover {
    color: #0040ff;
    border: 2px solid #809fff;
}

.btnLogin:focus {
    outline: none;
}

.btnSignup {
    /*Button Log in and Sign up*/
    padding: 5px;
    color: white;
    background-color: #809fff;
    width: 100px;
    height: 40px;
    border: 1px solid #809fff;
    font-weight: bold;
    font-size: small;
    border-radius: 5px;
}

.btnSignup:hover {
    background-color: #0040ff;
    border: 2px solid #809fff;
}

.btnSignup:focus {
    outline: none;
}

.btnCategory {
    color: black;
    font-size: large;
}

.btnCategory:focus {
    box-shadow: none;
    text-decoration: none;
}

.btnCategory:hover {
    text-decoration: none;
    color: #0040ff;
}

.btnShopping {
    font-size: x-large;
    color: black;
}

.btnShopping:hover {
    color: #0040ff;
}

.btnTeach {
    margin-left: 20px;
    display: flex;
    color: black;
    font-size: medium;
    text-decoration: none;
    width: 140px;
    height: 40px;
    align-items: center;
}

.btnTeach:hover {
    color: #0040ff;
    text-decoration: none;
    cursor: pointer;
}

.btnTeach:focus {
    box-shadow: none;
    text-decoration: none;
}

.btnTimesMobile{
    display:none;
}
/*#endregion*/


/*#region Element Mobile*/

.btnBars {
    color: red;
    border: 1px solid red;
    display: none;
    border-radius: 5px;
}

.bar-item {
    width: 0;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    transition: 0.5s;
    padding-top: 60px;
    background-color: white;
}

.bar-item a{
    display: block;
    transition: 0.3s;
}

.bar-item-list{
    width: 0;
    position: absolute;
    height: 100%;
    z-index: 1;
    top:0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: white;
}

.bar-btnReturn{
    position: absolute;
    top: 0;
    padding-bottom: 30px;
}

.btnSearchMobile {
    display: none;
    border-radius: 50%;
    outline: none;
    border: none;
}

.btnSearchMobile:focus {
    outline: none;
}

.btnSearchMobile:active {
    outline: none;
}

.btnShoppingMobile {
    font-size: x-large;
    color: black;
    display: none;
}

.btnShoppingMobile:hover {
    color: #0040ff;
    text-decoration: none;
}

.LogoMobile {
    display: none;
    width: 100px;
    min-width: 100px;
    height: 40px;
    background-image: url("${pageContext.request.contextPath}/public/ImgLogo/logo2.PNG");
    background-size: cover;
    text-decoration: none;
}

.frmSearchMobile {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    line-height: 50px;
    background-color: white;
}

.txtSearchMoblie {
    /*Input Search Text*/
    width: fit-content;
    height: 40px;
    border: 0px;
    border-radius: 50px;
    align-self: center;
}

.txtSearchMoblie:focus {
    width: fit-content;
    border: none;
    box-shadow: none;
    outline: none;
    align-self: center;
}

.fade-search {
    z-index: 1;
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
}
.fade-bars {
    z-index: 1;
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
}

.btnTimesMobile {
    margin-left: auto;
    background-color: white;
    border: none;
}

.btnTimesMobile:focus {
    outline: none;
}
/*#endregion*/

/*#region carousel*/
.slider{
    width: 95%;
    display: flex;
}

.slider .slider-card{
    width: 200px;
    margin: 10px;
}

.slider .slider-card:hover img{
    opacity: 0.7;
}

.slider .slider-card a{
    text-decoration: none;
    color: black;
}

.slider .slider-card .imgslider{
    height: 120px;
    width: 200px;
}
.slider .slider-card .imgslider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .slider-card .card-conent{
    padding: 10px 20px;
}
.slider .slider-card .card-conent .title{
    font-size: 25px;
    font-weight: 600;
}
.btn-next-prev{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 2;
    position: absolute;
}
.btn-next-prev:hover{
    cursor: pointer;
    background-color: #D8CCFF;
}

/*#endregion*/

/*#region Footer*/
footer .main-footer {
    padding: 20px 0;
    background: #252525;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
    background: #222;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #969696;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: #969696;
    margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
    background: #252525;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
    display: inline-block;
}

/*====================
    Widgets
====================== */
.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {

    margin-bottom: 18px;
}

.widget li a {
    color: #ff8d1e;
}

.widget li a:hover {
    color: #4b92dc;
}

.widget-title {
    margin-bottom: 20px;
    text-decoration: none;
}
.widget-title:hover {
    text-decoration: none;
}

.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span, .widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a:hover {
    background-color: #ff8d1e;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

.btn-register {
    background-color: #ff8d1e;
    color: #fff;
}

.btn-register:hover, .btn:focus, .btn.active {
    background: #4b92dc;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;

}

/*#endregion*/

/*#region Dropdown Menu*/

.menu {
    display: inline-block;
}

.menu-item {
    z-index: 1;
    position: absolute;
    background-color: white;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin-top: 5px;
    padding-top: 12.5px;
    border-radius: 0 0 20px 20px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 500ms, visibility 10ms;
    transition: opacity 500ms, visibility 10ms;

}

.menu:hover .menu-item {
    visibility: visible;
    opacity: 1;
}

.col-sm-3 {
    min-width: 200px;
}

.title-list {
    font-weight: bold;
    /*font-size: large;*/
    color: black;
    text-decoration: none;
}

.title-list:hover{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.cat-list{
    font-size: medium;
    font-size: 14px;
    color: black;
}

.cat-list:hover{
    text-decoration: none;
    font-weight: normal;
}

.fade-dropdown {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    top: 0;
    visibility: hidden;
    -webkit-transition: opacity 500ms, visibility 500ms;
    transition: opacity 500ms, visibility 500ms;
}
/*#endregion*/

.space {
    padding: 15px 15px 30px;
}

/*#region Responsive*/
@media all and (max-width: 480px) {
    .navDiv {
        height: 45px;
    }

    .space {
        padding: 15px 15px 35px;
    }

    .slider {
        width: 80%;
    }

    .card-container {

        width: 100%;
    }

    .slider .card {
        flex: 1;
        margin: 0 10px;
        background: rgb(205, 252, 255);
    }
}

@media all and (max-width: 850px) {
    .list-news{
        display:none;
    }

    .btnCategory {
        display: none;
    }

    .frmSearch {
        position: fixed;
        display: none;
        height: 60px;
        max-width: 100%;
        width: 100%;
        min-width: 100%;
        line-height: 50px;
        background-color: white;
        border-radius: 0%;
    }
    .txtSearch{
        width: 70%;
    }
    .txtSearch:focus{
        width: 70%;
    }

    .btnTeach {
        display: none;
    }

    .btnLogin {
        display: none;
    }

    .btnSignup {
        display: none;
    }

    .btnShopping {
        display: none;
    }

    .btnSearchMobile {
        display: block;
    }

    .txtSearchMoblie {
        margin-bottom: 10px;
    }

    .btnBars {
        display: block;
    }

    .Logo {
        display: none;
    }

    .LogoMobile {
        display: block;
    }

    .menu {
        display: none;
    }

    .navDiv {
        justify-content: space-around;
    }

    .btnShoppingMobile {
        display: block;
    }

    .quick-toolbar {
        display: none;
    }
}

@media all and (max-width: 1104px) {
    .btnTeach {
        display: none;
    }

    .btnShopping {
        margin-left: 30px;
    }

    .frmSearch {
        width: 50%;
    }

}
/*#endregion*/

/*#region signin-signup*/
*,*:before,*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.body-login{
    width:100%;
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background:-webkit-linear-gradient(left,#7579ff,#b224ef);
    font-family: 'Nunito', sans-serif;

}
.btn-signin,.input-password,.input-email,.input-signup,.btn-signup{
    border:none;
    outline:none;
    background:none;

}
.input-password,.input-email{
    text-align:left;
}
.cont{
    overflow:hidden;
    position:relative;
    width:900px;
    height:550px;
    background:#fff
}
.form-signin,.form-signup{
    position: relative;
    width:640px;
    height: 100%;
    padding:30px 30px;
    -webkit-transition: -webkit-form 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out ,-webkit-transform 1.2s ease-in-out;
}
.form-signin h2 {
    width: 100%;
    font-size: 30px;
    text-align:center;
}
.sign-up h2{
    width: 100%;
    font-size: 30px;
    text-align:center;
}

.label-email,.label-password,.label-signup{
    display: block;
    width:260px;
    margin:20px auto;
    text-align:center;
}
.label-email >span,.label-password>span{
    font-size:14px;
    font-weight: 600;
    color:#505f75;
    text-transform: uppercase;
}
.label-signup{
    margin:30px auto;
}
.input-password,.input-email,.input-signup{
    display: block;
    width: 100%;
    margin-top:5px ;
    font-size: 16px;
    padding-bottom:5px ;
    text-align: center;
    border-bottom: 1px solid rgba(109,93,93,0.4);
    font-family: 'Nunito', sans-serif;
}
.input-signup{
    text-align: left;
    margin-bottom:0px ;
    margin-top:0px;
}
.btn-signin,.btn-signup{
    display: block;
    margin: 0 auto;
    width:260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size:15px;
    cursor: pointer;
    /* -------------------- */
    margin-top:40px;
    margin-bottom:10px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background:-webkit-linear-gradient(left,#7579ff,#b224ef);


}
.btn-signin:hover,.btn-signup:hover{
    background:-webkit-linear-gradient(left,#b224ef,#7579ff);
}
.btn-signup{
    margin-top: 0px;
}
.forgot-password{
    margin-top:15px;
    text-align: center;
    font-size:14px;
    font-weight:600;
    color: #0c0101;
    cursor: pointer;
}
.forgot-password:hover{
    color:blue;

}

.social-text{
    font-family: 'Nunito', sans-serif;
    text-align:center;
    margin-top: 45px;
    font-size:1rem;
    position: relative;
    padding-bottom: 10px;


}
.social-text::after{
    background:-webkit-linear-gradient(left, #d03746,#1dbdc9);
    bottom: 0;
    content: '';
    display: block;
    /*margin-bottom: px;*/
    margin-top: 30px;

    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 200px;
}
.social-media{
    margin-top:10px;
    display:flex;
    justify-content:center ;

}
.social-icon{
     height: 50px;
    width: 50px;

    border:1px solid #333;
    margin : 0px 15px;
    display:flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;

    /* font-size: 1.1rem; */
    border-radius:50%;
    transition:0.3s;
}
.social-icon img {
    height: 30px;
    width: 30px;
    border-radius:50%;
}
.social-icon:hover{
    border-color: rgb(94, 233, 243);
}
.social-icon:hover img{

    height: 35px;
    width: 35px;

}

.sub-cont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}

.cont.s-signup .sub-cont{
    -webkit-transform:translate3d(-640px, 0, 0);
    transform:translate3d(-640px, 0, 0);
}

.img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("${pageContext.request.contextPath}/public/Picture/studyimg.jpg");

    background-size: auto;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.cont.s-signup .img:before{
    -webkit-transform:translate3d(640px, 0, 0);
    transform:translate3d(640px, 0, 0);
}

.img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2{
    margin-bottom: 0px;
    font-weight: normal;
}

.img-text p{
    font-size: 14px;
    line-height: 1.5;
}

.cont.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
    transform:translateX(520px);
}

.img-text.m-in{
    -webkit-transform:translateX(-520px);
    transform:translateX(-520px);
}

.cont.s-signup .img-text.m-in{
    -webkit-transform:translateX(0);
    transform:translateX(0);
}


.sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out;
}

.cont.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
    transition-duration:1.2s;
    -webkit-transform:translate3d(640px, 0, 0);
    transform:translate3d(640px, 0, 0);
}

.img-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img-btn:after{
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img-btn span{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
}

.img-btn span.m-in{
    -webkit-transform:translateY(-72px);
    transform:translateY(-72px);
}

.cont.s-signup .img-btn span.m-in{
    -webkit-transform:translateY(0);
    transform:translateY(0);
}

.cont.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
    transform:translateY(72px);
}

.sign-up{
    -webkit-transform:translate3d(-900px, 0, 0);
    transform:translate3d(-900px, 0, 0);
}

.cont.s-signup .sign-up{
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}
.Policy-agree{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 10px;
    margin: 0 0 10px;
    padding: 0 0 0px;
    position: relative;
}
.Policy-agree::after{
    background:-webkit-linear-gradient(left, #d03746,#1dbdc9);
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 200px;
}

/*#endregion*/

/*#region Star-rating*/
.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 15px;
    height: 15px;
    width: 100px;
    position: relative;
    text-shadow: 0 1px 0 #a2a2a2;
    font-family: FontAwesome;
    color:gold;
}

[title=".0.0"]::before {
    content: "\f006\f006\f006\f006\f006"
}
[title=".0.5"]::before {
    content: "\f123\f006\f006\f006\f006"
}
[title=".1.0"]::before {
    content: "\f005\f006\f006\f006\f006"
}
[title=".1.5"]::before {
    content: "\f005\f123\f006\f006\f006"
}
[title=".2.0"]::before {
    content: "\f005\f005\f006\f006\f006"
}
[title=".2.5"]::before {
    content: "\f005\f005\f123\f006\f006"
}
[title=".3.0"]::before {
    content: "\f005\f005\f005\f006\f006"
}
[title=".3.5"]::before {
    content: "\f005\f005\f005\f123\f006"
}
[title=".4.0"]::before {
    content: "\f005\f005\f005\f005\f006"
}
[title=".4.5"]::before {
    content: "\f005\f005\f005\f005\f123"
}
[title=".5.0"]::before {
    content: "\f005\f005\f005\f005\f005"
}
/*#endregion*/
